@{ 
    Layout = null;
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index! Мой первый проект на MVC Core!!!</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h1>@ViewBag.Greeting world (from the view)</h1>
    <div>
        <ul>
            <li>Круто</li>
            <li>быть</li>
            <li><a href="http://htmlbook.ru/html/a">developer!</a></li>
        </ul>
    </div>
    <div>
        <p>We're going to have an exciting party. <br />
        (To do: sell it better. Add pictures or something.)<br />
        <h2><a asp-action="RsvpForm">Rsvp Now</a></h2>
        </p>
    </div>
    <div class="text-center">
        <h3>We're going to have an exciting party!</h3>
        <h4>And you are invited</h4>
        <a class="btn btn-primary" asp-action="RsvpForm">RSVP Now</a>
    </div>
</body>
</html>